/*2023 CSS Update*/
@charset "UTF-8";
/* CSS Document */

/***Entire Page***/
html {
	background-color: lightgray;
	height: 100vh
}
body{
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
	border-radius: 10px;
}    

/*Divider - solid border */
hr.solid {
	border-top: 3px solid #bbb;
  }

/*collapsible*/
  
.content {
	padding: 0 18px;
	background-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	color:black;
  }

  /* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: transparent;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 30px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	background-color: #ccc;
  }
  
  #footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 2.5 rem;            /* Footer height */
	margin-top: auto;
  }
  













/* @charset "UTF-8";
/* CSS Document */

/***Entire Page***/

/*
h1{
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px black;
    align-content: space-around;
    font-style: normal;
    font-weight: 400;
}

#wrapper {
	position: fixed;
	width:100%;
	height:100%;
	background-image: url("danielle.jpg");
	background-size: cover;
	background-position: center;
	border-image-width: auto;
}
#body {
	background-color: transparent;
	margin: 0;
	padding:0;
	margin-bottom: 0;
}
#body-content{
	position: absolute;
	bottom: 80px;
	right:0;
	height:100px;
	width: 300px;
	padding: 20px;
	
	color: white;
	background-color:transparent;
}
p {
	right: 30px;
	border-radius: 10px;
	align-content: center;
	text-shadow: 2px 2px black;
	font-style: italic;
	
}
#main{
	background-color: transparent;
	border-radius: 15px;
	position: absolute;
	border-color: #FCFCFC;
}
#main-content{
	align-content: center;
	height:60px;
	padding: 8px;
	border: 1px  ;
	border-radius: 10px;
	color: white;
}
#footer {
	position:absolute;
	bottom: 0;
	width:100%;
	height: 30px;
	padding-bottom: 20px;
	align-content: center;
	background-color: transparent;
	text-shadow: 2px 2px black;
}
#footer-content{
	text-align: center;
	position: relative;
	padding-top:15px;
	height:35px;
	color: white;
	font-family:'Courier New', Courier, monospace;
}
.stickyicon-list {   
position: absolute; 
text-align: center;
bottom: 5px;
transform: translateY(-50%);             
}         
.stickyicon-list a {   
display: inline;  
text-align: center;   
padding: 8px;   
transition: all 0.5s ease;   
color: white;   
font-size: 20px;  
}          
.stickyicon-list a:hover {   
color: dimgray;   
width:10px; 
text-align: center;
}   
.google{   
color: white;   
background: transparent;
text-align: center;
}   
.instagram {   
background: transparent;   
color: white;   
}
.linkedin {   
background: transparent;   
color: white;   
}      
*/


  

  
